html,body{
	height: 100%;
	width: 100%;
    font-family: "Microsoft YaHei","MicrosoftJhengHei",STHeiti,MingLiu;
}
.header{
	position: fixed;
	top:0;
    width: 100%;
    z-index:2;
}
.headerTop{
    display:flex;
    justify-content: space-between;
	height: 30px;
    line-height: 30px;
    padding:0 30px;
    background-color: #f5f5f5;
    border-bottom: #e4e4e4 solid 1px;
}
.headerT-left,.headerT-right{
   flex-shrink: 0;
}
.headerT-left span{
        font-weight: bold;
        color: red;
    }
.headerT-right  li{
    position: relative;
    display:inline-block;
    padding:0 20px;
}
.headerT-right li::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    transform: scale(0.5);
    border-left: 1px solid red;
}

.navbar{
    padding: 0 40px;
}
.header-navbar{
   background-color: white;
   border-color:#e7e7e7 !important;
}
.dropdown a{
    color: #337ab7;
    font-size: 16px;
}
.dropdown-menu{
    width: 100%;
}
.carousel-inner>.item>img{
        height: 400px;
        width: 100%;
      }
.carousel{
        margin-top: 83px;
        margin-bottom: 20px;
}
.center{
    text-align: center;
}
section{
    margin-bottom: 60px;
}
.show-top{
    margin-bottom:20px;
}
.show-top h2{
    margin-bottom:5px;
}
.show-top p{
    font-size: 20px;
         background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation: masked-animation 4s infinite linear;
    }
    @-webkit-keyframes masked-animation {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}
.show{
    height: 200px;
}
.show-1{
    height:400px;
}
.card{
    display:inline-block;
    width: 500px;
}
.card p{
    padding: 20px;
    box-shadow: 0 0 20px rgb(255,199,144);
}